
footer{
    background-color: rgb(242, 247, 246);
       text-align: center;
   }
   .frn{
   width: 100%;
   margin-top: 5%;
   display:block ;
   text-align: left;
   margin-left: 5%;
   }
   h4{
       margin-top: 2%;
       font-size: 60px;
   }
   .fichafrn{
       width: 400px;
   }